html {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #ffffff; /* 🍊 soft pastel orange */
  }

body {
    margin: 0;
    padding: 0;
    color: #222;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }